<a href="https://colab.research.google.com/github/2303A51061/B16_PDS_1061/blob/main/File_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
file=open("example.txt","w")
file.write("Hello,B.Tech Student\n")
file.write("this is file handling in python\n")
file.write("sr university\n")
file.write("iam ")
file.close()

In [19]:
file=open("example.txt","r")
content=file.read()
print("file content:\n",content)
file.close()

file content:
 Hello,B.Tech Student
this is file handling in python
sr university
iam

In [20]:
file=open("example.txt","r")
line1=file.readline()
print("first Line:",line1)
line2=file.readline()
print("second Line:",line2)
line3=file.readline()
print("third Line:",line3)
line4=file.readline()
print("fourth Line:",line4)

file.close()

first Line: Hello,B.Tech Student

second Line: this is file handling in python

third Line: sr university

fourth Line: iam

In [21]:
file=open("example.txt","r")
lines=file.readlines()
print("all lines as list:",lines)
file.close()

all lines as list: ['Hello,B.Tech Student\n', 'this is file handling in python\n', 'sr university\n', 'iam ']

In [27]:
file=open("example.txt","a")
file.write("iam appending this line\n")
file.close()

In [28]:
with open("example.txt","r") as file:
    content=file.read()
    print(content)

Hello,B.Tech Student
this is file handling in python
sr university
iam iam appending this line
iam appending this line
iam appending this line
iam appending this line

In [30]:
import csv
with open("example.csv","w",newline="") as file:
    writer=csv.writer(file)
    writer.writerow(["Name","Age","City"])
    writer.writerow(["John",25,"New York"])
    writer.writerow(["pavan",35,"York"])
    writer.writerow(["praveen",18,"New"])
    writer.writerow(["bhbj",25,"New kjbhvbgYork"])

In [31]:
with open("example.csv","r") as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['John', '25', 'New York']
['pavan', '35', 'York']
['praveen', '18', 'New']
['bhbj', '25', 'New kjbhvbgYork']