<a href="https://colab.research.google.com/github/2303A51061/B16_PDS_1061/blob/main/Lab_5-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np
import pandas as pd
#creating a dataset with missing values
data={
    'Name':['Ravi','Neha','Kiran','Sita'],
    'Age':[25,np.nan,30,28],
    'Marks':[85,90,np.nan,92]
}
df=pd.DataFrame(data)
print("original Dataset")
print(df)
#detect missing values
print("\n check for missing values")
print(df.isnull())

original Dataset
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  Kiran  30.0    NaN
3   Sita  28.0   92.0

 check for missing values
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [12]:
#drop rows with missing values
df_dropped=df.dropna()
print("After dropping rows with nan")
print(df_dropped)

After dropping rows with nan
   Name   Age  Marks
0  Ravi  25.0   85.0
3  Sita  28.0   92.0

In [13]:
#filling missing values
df_filled=df.fillna(0)
print("Filled with 0.")
print(df_filled)
#filling missing with mean of column
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Marks']=df['Marks'].fillna(df['Marks'].mean())
print("\n filled with mean")
print(df)

Filled with 0.
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   0.0   90.0
2  Kiran  30.0    0.0
3   Sita  28.0   92.0

 filled with mean
    Name        Age  Marks
0   Ravi  25.000000   85.0
1   Neha  27.666667   90.0
2  Kiran  30.000000   89.0
3   Sita  28.000000   92.0

In [17]:
#handling duplicate
data={
    'ID':[1,2,3,4,4],

    'Marks':[85,90,78,92,92]

}
df=pd.DataFrame(data)
print("Original dataFrame with Duplicates")
print(df)
#remove duplicates rows
df_no_dup=df.drop_duplicates()
print("\n After Removing Duplicates")
print(df_no_dup)

Original dataFrame with Duplicates
   ID  Marks
0   1     85
1   2     90
2   3     78
3   4     92
4   4     92

 After Removing Duplicates
   ID  Marks
0   1     85
1   2     90
2   3     78
3   4     92

In [19]:
data={
    'ID':['1','2','3','4'],
    'Marks':['85','90','78','92']
}
df=pd.DataFrame(data)
print("Original Data Types")
print(df.dtypes)
#convert to numeric
df['ID']=pd.to_numeric(df['ID'])
df['Marks']=pd.to_numeric(df['Marks'])
print("\n After conversion")
print(df.dtypes)

Original Data Types
ID       object
Marks    object
dtype: object

 After conversion
ID       int64
Marks    int64
dtype: object

In [40]:
#applying functions
#apply transformation -add 5 bonus marks
df['Marks']=df['Marks'].apply(lambda x: x+5)
print("\n After Adding bonus marks")
print(df)

 After Adding bonus marks
   ID  Marks  Marks_Normalized
0   1    185          0.500000
1   2    190          0.857143
2   3    178          0.000000
3   4    192          1.000000

In [21]:
#normalization
df['Marks_Normalized']=(df['Marks']-df['Marks'].min())/(df['Marks'].max()-df['Marks'].min())
print("\n After Normalization")
print(df)

 After Normalization
   ID  Marks  Marks_Normalized
0   1     90          0.500000
1   2     95          0.857143
2   3     83          0.000000
3   4     97          1.000000